/.vscode
/vendor
/storage
/node_modules
.env
/public/files/*
/public/js/app.js
/public/css/app.css
/public/files/*.doc
/public/files/*.docx
/public/files/*.xls
/public/files/*.xlsx
/public/files/*.pdf
/public/files/*.png
/public/files/*.jpg
/public/files/*.zip
/public/files/*.rar